Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add Microsoft apt repository for KnoxCoder?
 The installer would like to add the Microsoft repository and signing
 key to update KnoxCoder through apt.
